*,
*:after,
*:before {
  box-sizing: border-box;
}
button {
  color: #eee !important;
}
* {
  user-select: none;
  -webkit-user-select: none;
}
:root {
  --color-bg-primary: #26272b;
  --color-bg-primary-offset: #2b2c30;
  --color-bg-secondary: #202124;
  --color-text-primary: #dedede;
  --color-text-primary-offset: #eee;
  --color-orange: #dc9960;
  --color-green: #1eb8b1;
  --color-purple: #657cc4;
  --color-white: var(--color-text-primary);
  --color-red: #e42d3c;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-secondary);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.menu-list {
  margin: 0;
  display: block;
  width: 100%;
  padding: 8px;
}
.menu-list + .menu-list {
  border-top: 1px solid #2b2c30;
}

.menu-sub-list {
  display: none;
  padding: 8px;
  background-color: var(--color-bg-secondary);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 100%;
  right: 0;
  z-index: 100;
  width: 100%;
  top: 0;
  flex-direction: column;
}
.menu-sub-list:hover {
  display: flex;
}

.menu-item {
  position: relative;
}

.menu-button {
  font: inherit;
  border: 0;
  padding: 8px 8px;
  padding-right: 36px;
  width: 100%;
  border-radius: 8px;
  text-align: left;
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--color-bg-secondary);
}
.menu-button:hover {
  background-color: var(--color-bg-primary-offset);
}
.menu-button:hover + .menu-sub-list {
  display: flex;
}
.menu-button:hover svg {
  stroke: var(--color-text-primary);
}
.menu-button svg {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  stroke: var(--color-text-primary-offset);
}
.menu-button svg:nth-of-type(2) {
  margin-right: 0;
  position: absolute;
  right: 8px;
}
.menu-button--close:hover {
  color: var(--color-red);
}
.menu-button--close:hover svg:first-of-type {
  stroke: var(--color-red);
}
.menu-button--orange svg:first-of-type {
  stroke: var(--color-orange);
}
.menu-button--green svg:first-of-type {
  stroke: var(--color-green);
}
.menu-button--purple svg:first-of-type {
  stroke: var(--color-purple);
}
.menu-button--white svg:first-of-type {
  stroke: var(--color-white);
}
.menu-button--checked svg:nth-of-type(2) {
  stroke: var(--color-purple);
}

.container {
  position:absolute;
  display: flex;
  justify-content: center;
}
.hidden {
  display: none;
}
.move {
  cursor: all-scroll;
  -webkit-app-region: drag;
}
html {
    background-color: transparent;
}
pre, code {
    color: #fff;
}
#status_text {
    line-height: 4em;
    text-align: center;
    padding: 20px;
    margin: 10px;
    background-color: #000000b3;
    border-radius: 25px;
    filter: drop-shadow(0px 10px 10px #00000056);
    user-select: none;
}
::-webkit-scrollbar {
    display: none;
}
